.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}
.error {
  color: red;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1000px) {
  .form {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .form {
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .form {
    width: 90%;
  }
}
