.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label {
  color: #fff;
  font-size: 1.8rem;
  margin: 1rem 0;
}
.input,
select {
  border: none;
  outline: none;
  height: 3rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: black;
  color: #ffe700;
}
